myenv/
.env
__pycache__/
*pycache__/
dbsqlite3
*.sqlite3
dist/
*.egg-info/
vscode/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local

# General
.DS_Store
*.log